body {
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: 'Jaro', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 10px;
    padding: 10px;
}


.image-container {
    position: relative;
    width: 100%;
    padding-top: 0%; 
    overflow: hidden;
}


.background-image {
    position: relative;
    top: 0;
    left: 0;
    width: 95%;
    height: 95%;
    object-fit: contain;
    opacity: 0.6;
    transition: opacity 0.3s ease;
    z-index: 1;
}


.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    color: white;
    font-size: 1.5em;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    padding: 0;
    border-radius: 5px;
    white-space: wrap;
    z-index: 2;
    opacity:1;
    transition: opacity  0.3s ease;
}
 .background-image:hover {
    opacity: 1; /* Full opacity on hover */
}
.overlay-text:hover{
    opacity:0;
}


@media (max-width: 720px) {
    .container {
        grid-template-columns: repeat(2, 1fr); 
    }

    .overlay-text {
        font-size: 50px;
    }
}
@media (max-width: 500px) {
    .container {
        grid-template-columns: repeat(2, 1fr); 
    }

    .overlay-text {
        font-size: 45px;
    }
}


@media (max-width: 400px) {
    .container {
        grid-template-columns: repeat(1, 1fr); 
    }

    .overlay-text {
        font-size: 35px;
    }
}

h3{
    font-size:50px;
    text-align:center;
    cursor: pointer; 
    padding: 10px; 
    margin: 0; 
    transition: background-color 0.3s;
    text-decoration: none;
}

h3:hover {
text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2); /* Light background on hover */
}
a {
    text-decoration: none; /* Remove underline from all anchor tags */
}

a h3 {
    text-decoration: none; /* Ensure underline is removed specifically for h2 inside links */
}
